<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<header th:replace="fragments :: header"></header>
<body th:replace="fragments :: body"></body>
<h2 th:replace="fragments :: title"></h2>
<h1 th:text="${title}">Default Title</h1>

<h2 th:text="${post.title}"></h2>

<div>
<label th:for="snakeName">Name:</label>
<a th:text="*{post.snakeName}"></a>
</div>

<div>
    <label th:for="age">Age:</label>
    <a th:text="*{post.age}"></a>
</div>

<div>
    <label th:for="sex">Sex:</label>
    <a th:text="*{post.sex}"></a>
</div>

<div>
    <label th:for="snake">Category:</label>
    <a th:text="*{post.snake.name}"></a>
</div>

<div>
    <label th:for="description">Description:</label>
    <a th:text="*{post.description}"></a>
</div>


<footer th:replace="fragments :: footer"></footer>
</body>
</html>

