<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<header th:replace="fragments :: header"></header>
<body th:replace="fragments :: body"></body>
<h2 th:replace="fragments :: title"></h2>
<h1 th:text="${title}">Default Title</h1>


    <div class="border">
    <div class="container-fluid posts">
        <h2 th:text="${post.title}"></h2>

        <div>
            <label th:for="snakeName">Name:</label>
            <a th:text="*{post.snakeName}"></a>
        </div>

        <div>
            <label th:for="age">Age:</label>
            <a th:text="*{post.age}"></a>
        </div>

        <div>
            <label th:for="sex">Sex:</label>
            <a th:text="*{post.sex}"></a>
        </div>

        <div>
            <label th:for="snake">Category:</label>
            <a th:text="*{post.snake.category}"></a>
        </div>

        <div>
            <label th:for="snake">Sub-Category:</label>
            <a th:text="*{post.snake.name}"></a>
        </div>

        <div class="description">
            <label th:for="description">Description:</label>
            <a th:text="*{post.description}"></a>
        </div>
    </div>
</div>

<style>
    h2{
       font-family: 'Barriecito', cursive;
       text-align: center;

    }
    .description {
     word-wrap: break-word;
    }
    .border {
    border-style:solid;
    border-color:aqua;
    border-width:2px;
    border-spacing:20px;
    }
    .posts {
    display:block;
    text-align:center;
    width:800px;
    color:white;
    font-size:25px;
    }
    a {
    color:white;
    }
</style>

<!--<h2 th:text="${post.title}"></h2>-->

<!--<div>-->
<!--<label th:for="snakeName">Name:</label>-->
<!--<a th:text="*{post.snakeName}"></a>-->
<!--</div>-->

<!--<div>-->
<!--    <label th:for="age">Age:</label>-->
<!--    <a th:text="*{post.age}"></a>-->
<!--</div>-->

<!--<div>-->
<!--    <label th:for="sex">Sex:</label>-->
<!--    <a th:text="*{post.sex}"></a>-->
<!--</div>-->

<!--<div>-->
<!--    <label th:for="snake">Category:</label>-->
<!--    <a th:text="*{post.snake.name}"></a>-->
<!--</div>-->

<!--<div>-->
<!--    <label th:for="description">Description:</label>-->
<!--    <a th:text="*{post.description}"></a>-->
<!--</div>-->
<footer th:replace="fragments :: footer"></footer>
</html>

