<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<header th:replace="fragments :: header"></header>
<body th:replace="fragments :: body"></body>
<h2 th:replace="fragments :: title"></h2>
<h1 th:text="${title}">Default Title</h1>


    <div class="border">
    <div class="container-fluid posts">
        <h2 th:text="${post.title}"></h2>
<!--        <span th:text="${'By: ' + username}"></span>-->
        <br>
        <br>
        <div>
            <label th:for="snakeName">Name:</label>
            <span th:text="*{post.snakeName}"></span>
        </div>

        <div>
            <label th:for="age">Age:</label>
            <span th:text="*{post.age}"></span>
        </div>

        <div>
            <label th:for="sex">Sex:</label>
            <span th:text="*{post.sex}"></span>
        </div>

        <div>
            <label th:for="snake">Category:</label>
            <span th:text="*{post.snake.category}"></span>
        </div>

        <div>
            <label th:for="snake">Sub-Category:</label>
            <span th:text="*{post.snake.name}"></span>
        </div>

        <div class="description">
            <label th:for="description">Description:</label>
            <span th:text="*{post.description}"></span>
        </div>
    </div>
</div>

<style>
    h2{
       font-family: 'Barriecito', cursive;
       text-align: center;
    }
    label{
    color:aqua;
    }
    .description {
     word-wrap: break-word;
    }
    .border {
    border-style:solid;
    border-color:aqua;
    border-width:2px;
    border-spacing:20px;
    }
    .posts {
    display:block;
    text-align:left;
    width:800px;
    color:white;
    font-size:25px;
    }
    a {
    color:white;
    }
    p{
        color:white;

    }
</style>
<footer th:replace="fragments :: footer"></footer>
</html>

