<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<header th:replace="fragments :: header"></header>
<body th:replace="fragments :: body"></body>
<h2 th:replace="fragments :: title"></h2>
<h1 th:text="${title}">Default Title</h1>
<div style="border-style:solid;border-color:aqua;border-width:2px;border-spacing:20px;">

<h2 th:text="${heading}"style="text-align:center;">Default Heading</h2>

<div style="text-align:center;">
    <a class="text-muted">
        or <a class="ml-2"href="/user/login">login</a> if you already have an account.</a>
</div>

<div class="container-fluid"style="display:block;">

<form th:object="${register}" method="post"style="width:800px;">
    <div class="form-group">
    <input class="form-control"name="username" placeholder="Enter a username"th:field="*{username}"style="color:black;text-align:center;">
    <span th:errors="*{username}" class="error"></span>
    </div>

        <div class="form-group">

<input class="form-control"name="password"type="password" placeholder="Enter a password"th:field="*{password}"style="color:black;text-align:center;">
    <span th:errors="*{password}" class="error"></span>
        </div>
            <div class="form-group">

            <input class="form-control"name="confirmPassword"type="password"placeholder="Re-type password"th:field="*{confirmPassword}"style="color:black;text-align:center;">
    <span th:errors="*{confirmPassword}" class="error"></span>
            </div>

    <div style="text-align:center;">
<input type="submit"value="Register"class="brk-btn">
    </div>

</form>
</div>
</div>
<footer th:replace="fragments :: footer"></footer>

</html>

