<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<header th:replace="fragments :: header"></header>
<body th:replace="fragments :: body"></body>
<h2 th:replace="fragments :: title"></h2>
<h1 th:text="${title}">Default Title</h1>
<h2 th:text="${heading}">Default Heading</h2>


<div>
    <a class="text-muted">
        or <a class="ml-2"href="/user/login">login</a> if you already have an account.</a>


    </a>
</div>


<form th:object="${register}" method="post">
<input name="username"placeholder="Enter a username"th:field="*{username}"style="color:black;">
    <span th:errors="*{username}" class="error"></span>

    <br>
<br>

<input type="password" name="password"placeholder="Enter a password"th:field="*{password}"style="color:black;">
    <span th:errors="*{password}" class="error"></span>

    <br>
<br>
<input type="password" name="confirmPassword"placeholder="Re-type password"th:field="*{confirmPassword}"style="color:black;">
    <span th:errors="*{confirmPassword}" class="error"></span>


    <br>
<br>
    <div style="text-align:center;">
<input type="submit"value="Register"class="brk-btn">
    </div>
</form>

<footer th:replace="fragments :: footer"></footer>
</body>
</html>

